* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.wrapper {
  display: flex;
  flex-direction: row;
}

header {
    display: flex;
    width: 100%;
    background-color: blueviolet;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.side-bar {
  display: grid;
flex-direction: column;
max-width: 25%;
padding: 10px;
}
#past-history li {
  padding: 15px;  
}

.list-group {
  padding: 0;
  list-style: none;
}